nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee";
  background-color: #25274d;
  color: #aaabb8;
  height: 8vh;
  width: 100%;
  z-index: 10;
  position: fixed;
  padding: 10px;
}

nav > div {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  margin: 10px;
  width: 100%;
  font-size: 1.2em;
  text-shadow: 4px 4px 5px #000000;
}

nav span:hover {
  transition: text-shadow 1s;
  text-shadow: 4px 4px 5px #29648a;
}

#toggle-btn {
  border: none;
  outline: none;
  background-color: #25274d;
  color: #aaabb8;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#toggle-btn:hover {
  cursor: pointer;
}
