.new-tweet {
  width: 80%;
  margin: 0 auto;
  vertical-align: middle;
  height: 150px;
}

.new-tweet > form > textarea {
  width: 100%;
  margin: 0 auto;
  outline: none;
  border: none;
  border-bottom: 5px solid rgb(160, 130, 130);
  height: 45px;
  background-color: #f4f1ec;
  z-index: 5;
}
.new-tweet > form {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 80%;
  margin: 15px auto;
  width: 80%;
}
.new-tweet > form > input {
  height: 4vh;

  background-color: blue;
  color: aliceblue;
  font-size: 0.8em;
  font-family: "Bungee";
}

.tweetbtn {
  color: black;
}
